Admin_Cuentas_Listo/FormPrueba/Web References/internalFunction/internalFunction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:internalFunction" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:internalFunction" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:internalFunction">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AliveStatusRequest">
    <wsdl:part name="db" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AliveStatusResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="checkAddOnsRequest">
    <wsdl:part name="id_empresa" type="xsd:string" />
    <wsdl:part name="id_user" type="xsd:string" />
    <wsdl:part name="db_target" type="xsd:string" />
    <wsdl:part name="db_user" type="xsd:string" />
    <wsdl:part name="db_pass" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkAddOnsResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdUserRequest">
    <wsdl:part name="db" type="xsd:string" />
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIdUserResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="internalFunctionPortType">
    <wsdl:operation name="AliveStatus">
      <documentation>Comprueba conectividad con el servidor</documentation>
      <wsdl:input message="tns:AliveStatusRequest" />
      <wsdl:output message="tns:AliveStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkAddOns">
      <documentation>Permite logear usuarios en el sistema sayc</documentation>
      <wsdl:input message="tns:checkAddOnsRequest" />
      <wsdl:output message="tns:checkAddOnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIdUser">
      <documentation>Verifica si una id es ocupable</documentation>
      <wsdl:input message="tns:getIdUserRequest" />
      <wsdl:output message="tns:getIdUserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="internalFunctionBinding" type="tns:internalFunctionPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="AliveStatus">
      <soap:operation soapAction="urn:internalFunction#AliveStatus" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAddOns">
      <soap:operation soapAction="urn:internalFunction#logUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdUser">
      <soap:operation soapAction="urn:internalFunction#getIdUser" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:internalFunction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="internalFunction">
    <wsdl:port name="internalFunctionPort" binding="tns:internalFunctionBinding">
      <soap:address location="http://localhost/Apolo Server/internalFunction.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>